# Kirby .htaccess

# Enable URL rewriting
RewriteEngine on
RewriteBase /

# Redirect to HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Block directory listing
Options -Indexes

# Bloquer l'accès à l'ancienne URL du panel
RedirectMatch 403 ^/panel/

# Exclure favicon.ico et robots.txt des redirections vers index.php
RewriteCond %{REQUEST_URI} !^/favicon.ico$ [NC]
RewriteCond %{REQUEST_URI} !^/robots.txt$ [NC]

# All other requests go to Kirby's index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]