# Kirby .htaccess

# Enable URL rewriting
RewriteEngine on
RewriteBase /

# Redirect to HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Block directory listing
Options -Indexes

# Kirby's Panel (Nouvelle URL personnalisée)
RewriteRule ^admin-panel/(.*) kirby/admin-panel/$1 [L]

# Bloquer l'accès à l'ancienne URL du panel
RedirectMatch 403 ^/panel/

# Exclure favicon.ico des redirections vers index.php
RewriteCond %{REQUEST_URI} !^/favicon.ico$ [NC]

# All other requests go to Kirby's index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]