.btn-primary {
  position: relative;
  overflow: hidden;
  background-color: var(--accent-1);
  color: var(--text-1);
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  font-weight: bold;
  border: 2px solid transparent;
  transition: color 0.3s;
  z-index: 1;
}

.btn-primary::before {
  content: "";
  position: absolute;
  top: 0; left: -100%;
  width: 100%; height: 100%;
  background-color: var(--accent-1);
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover::before { left: 0; }
.btn-primary:hover { color: var(--text-1); }

.btn-secondary {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: var(--accent-1);
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  border: 2px solid var(--accent-1);
  font-weight: bold;
  z-index: 1;
  transition: color 0.3s;
}

.btn-secondary::before {
  content: "";
  position: absolute;
  top: 0; left: -100%;
  width: 100%; height: 100%;
  background-color: var(--accent-1);
  z-index: 0;
  transition: all 0.3s;
}

.btn-secondary:hover::before { left: 0; }
.btn-secondary:hover { color: var(--text-1); }
