/* Section hero globale */
.hero {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
  padding: 0 0 0 10rem;
  background-color: var(--bg-1);
  overflow: hidden;
}

/* Grille 3 colonnes : gauche / texte infos / slider */
.hero-container {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  height: 100%;
  column-gap: 1rem;
  width: 100%;
  margin: 0 auto;
  position: relative; /* important pour que .hero-right se place à l’intérieur */
}

/* Colonne gauche : titre + bouton */
.hero-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 2;
}

.hero-left h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--text-3);
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.highlight {
  color: var(--accent-1);
  font-style: italic;
}

.hero-buttons a{
  font-size: 1.5rem;
}

/* Sous-titre sous le H1 */
.hero-subtitle {
  font-size: 1.45rem;
  color: var(--text-2);
  line-height: 1.45;
  max-width: 480px;
  margin-top: -0.5rem;
  margin-bottom: 1.2rem;
  opacity: 0.9;
}

/* Bulle informative flottante */
.hero-right {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translateY(-50%);
  z-index: 20;
  background: rgba(20, 20, 20, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  padding: 2rem 2.2rem;
  border-radius: 16px;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  width: 300px;
  min-height: 165px; /* empêche le conteneur de bouger */
  justify-content: space-between; /* stabilise l'intérieur */
}

/* Texte principal (tip) */
#hero-tip {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--text-1);
  line-height: 1.45;
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* Colonne droite : slider collé à droite */
.hero-center {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-end;   /* colle le slider au bord droit */
  overflow: hidden;
}

.hero-slider {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 900px;            /* tu peux ajuster cette valeur */
}

/* Images du slider */
.slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.slide.active {
  opacity: 1;
}

/* Image mobile (cachée par défaut) */
.hero-mobile-image {
  display: none;
}

.hero-mobile-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 1200px) {
  .hero {
    padding: 0 0 0 5rem;
  }
}
